body {
  margin: auto;
  max-width: 1280px;
  background-color: rgb(182, 124, 194);
}

.datos{
  margin-top: 2rem;
  text-align: center;

}
h1{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(66, 0, 44);
}

.nombre{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: rgb(5, 2, 41);
}
.materia{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 20rem;
  color: rgb(119, 67, 0);
}
.semestre{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 12rem;
  color: rgb(119, 32, 0);

}
.carrera{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 25rem;
  color: rgb(44, 10, 77);
}


